<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table style="width:60%; margin:auto; background-color:#fff9f0">
		<tr style="margin:10px auto;">
			<th style="border-bottom: 1px solid lightgray; padding:20px;"><img alt="혼족옵서예" src="C:\Users\yocon\git\Honzok\0_Honzok\WebContent\images\Logo.png\"></th>
		</tr>
		<tr>
			<td style="font-size:18px; font-weight:bold; padding:10px; padding-top:20px;">인증번호 <br><label style=" font-size:25px; color:#f18332">123</label></td>
		</tr>
		<tr>
			<td style="padding:10px;"> 님, 안녕하세요!<br>
				당신의 빛나는 Single Life를 위한 커뮤니티 사이트 혼족옵서예 입니다<br>
				혼족옵서예 계정 본인 확인 메일입니다. 위의 인증번호를 입력하고, 본인 인증을 완료하여 주십시오.</td>
		</tr>
		<tr>
			<td style="font-size:10px;padding:10px; margin-top:20px">본 메일은 관계 법령상 광고성 메일 수신 동의 여부와 무관하게 보내드리는 이메일입니다.<br>
				다른 문의 사항이 있으시면 혼족옵서예로 방문하여 문의해주십시오.</td>
		</tr>
	</table>
</body>
</html>